<div class="rounded shadow-lg px-4 py-2 mb-3 bg-white flex items-center">
  <div class="w-3/4 max-w-3/4 flex flex-col">
    <div class="max-w-3/4 font-semibold">
      @if (expense().description === undefined) {
        Pas de description
      } @else {
        {{ expense().description }}
      }
    </div>
    <div class="italic text-gray-600">
      {{ expense().category.toString() | titlecase }} -
      {{ expense().date | date: "dd/MM/yy" }}
    </div>
  </div>
  <div class="w-1/4 flex justify-end">
    <p class="text-green-600">
      {{ expense().amount | currency: "EUR" : "symbol" : ".2-2" }}
    </p>
  </div>
  <button
    class="pl-5 pb-1 cursor-pointer text-red-700 text-lg"
    (click)="deleteExpense()"
  >
    &times;
  </button>
</div>
